<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <title>Asgard Cluster File Upload</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="../static/images/favicon.ico"
        />
        <link rel="stylesheet" href="../static/style.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
        />
        <script src="../static/modal.js" defer></script>
        <script src="../static/script.js" defer></script>
    </head>

    <body>
        <header>
            <img src="../static/images/thor.png" alt="Asgard" />
            <h1>Asgard Cluster File Upload System</h1>
            <p>Upload and submit your file here!</p>
            <div class="grid">
                <div>
                    <button type="button" id="aboutButton" data-target="aboutModal" onClick="toggleModal(event)">About</button>
                </div>
                <div>
                    <button type="button" id="fileInformationButton">
                        File Specification
                    </button>
                </div>
            </div>
            <hr />
        </header>
        <main>
            <form method="post" enctype="multipart/form-data" name="file">
                <label for="fileUpload">
                    Select File
                    <input
                        type="file"
                        id="fileUpload"
                        name="file"
                        required
                    />
                </label>
                <button type="submit" aria-busy="false" id="uploadButton">
                    Upload File
                </button>
            </form>
            <p id="warningText" hidden>Hello World</p>
            <progress id="progressBar" label="loading" hidden></progress>
        </main>
        <footer>
            <h5>Acknowledgments</h5>
            <ul>
                <li>
                    Frontend designed by Anna Grigorescu and Nicholas Synovic
                </li>
                <li>
                    File format designed by Roshni Mathew and Nicholas Synovic
                </li>
                <li>
                    Cluster architecture designed by Rohan Sethi and Nicholas
                    Synovic
                </li>
                <li>
                    <a
                        href="https://www.flaticon.com/free-icons/thor"
                        title="thor icons"
                        >Thor icons created by Smashicons - Flaticon</a
                    >
                </li>
            </ul>
            <hr />
        </footer>
        <!-- Modal -->
        <dialog id="aboutModal">
            <article>
                <a href="#close" aria-label="Close" class="close"
                    data-target="aboutModal" onClick="toggleModal(event)">
                </a>
                <h3>Asgard</h3>
                <p>
                    Asgard is a low powerd computer cluster at Loyola University Chicago.
                </p>
                <p>
                    It is powered by (currently) six NVIDIA Jetson Nano 2GBs.
                </p>
                <p>
                    The purpose of this cluster is to test computer vision code targetting low
                    powered computer devices.
                </p>
                <p>
                    It is meant to be utilized for testing in the Low Powered Computer Vision
                    challenge.
                </p>
                <p>
                    The source code for the website, head node, and client node is availible on
                    <a target="_blank"
                        href="https://github.com/SoftwareSystemsLaboratory/asgard">GitHub</a>.
                </p>
            </article>
        </dialog>
    </body>
</html>
