<!DOCTYPE html>
<html data-theme="dark">

<head>
    <title>Asgard Cluster File Upload</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet"
        href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
    <script src="../static/modal.js" defer></script>
    <script src="../static/script.js" defer></script>
</head>

<body>
    <aside id="mobileNav">
        <nav class="closed-on-mobile">
            <details>
                <summary><strong><a href="/">Asgard</a></strong></summary>
                <ul>
                    <li><a href="signin.html" role="button">Sign In</a></li>
                    <li><a href="signout.html" role="button">Sign Out</a></li>
                    <li><a href="status.html">Cluster Status</a></li>
                    <li><a href="reports.html">Reports</a></li>
                </ul>
            </details>
        </nav>
    </aside>

    <nav id="desktopNav">
        <ul>
            <li><strong><a href="/">Asgard</a></strong></li>
        </ul>
        <ul>
            <li><a href="status.html">Cluster Status</a></li>
            <li><a href="reports.html">Reports</a></li>
            <li><a href="signin.html" role="button">Sign In</a></li>
            <li><a href="signout.html" role="button">Sign Out</a></li>
        </ul>
    </nav>
</body>

</html>
